.app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.app > :first-child {
  align-self: center;
}

@media (min-width: 1440px) {
  .app {
    gap: 32px;
  }
}
