.map-container-block {
  width: 100%;
  margin: 0;
  padding: 24px 20px 32px;
  background: #FFFFFF;
  border-radius: 28px;
  position: relative;
  z-index: 0;
}

.map-container-block__inner {
  border-radius: 16px;
  overflow: hidden;
  min-height: 450px;
  height: 700px;
}

.map-container-block__map {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.map-container-block .leaflet-pane,
.map-container-block .leaflet-container,
.map-container-block .leaflet-tile-pane,
.map-container-block .leaflet-overlay-pane,
.map-container-block .leaflet-shadow-pane,
.map-container-block .leaflet-marker-pane,
.map-container-block .leaflet-popup-pane,
.map-container-block .leaflet-control-pane {
  z-index: 0 !important;
}
